
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ViditBhatnagar</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/landing.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	</head>
<body>
	          
  <img src="/20190629_112534.jpg" alt="Snow"  width="100%" height="100%">
  <div class="centered"><h1><strong>WELCOME TO AEIPATHY...</h1></strong>

<div class="container">
  <a href="/blogs" class="btn btn-info btn-lg">Read More</a>
</div>
</div>


		
		
		
	</body>
</html>
